body{
	margin: auto;
	background-color: #e0bb75;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	color: #5b3c1f;
	text-align: justify;
}
h1{
	color: #aa1b25;
}
h2{
	color: #2e3f71;
}
h3{
	font-family: "Amatic SC";
	font-size: 150%;
	color: #2e3f71;
	margin: 0;
	margin-top: 0;
}
h4{
	font-family: "Amatic SC";
	font-size: 250%;
	color:#2e3f71;
	margin: 5 px;
}
#header{
	margin: auto;
	width: 80%;
	padding: 10px 20px 0px 20px;
	background-color: #ffffff;
}
#header img{
	width: 100%;
}
#nav{
	width: 80%;
	margin: auto;
	padding: 0px 20px;
	background-color: #ffffff;
}
#nav img{
	width: 100%;
}
#container{
	width: 80%;
	height:inherit;
	margin: auto;
	padding: 10px 20px;
	background-color: #ffffff;
	overflow:hidden;
}
#container img{
	max-height: 70%;
	max-width: 70%;
}
#sidebar{
	width: 20%;
	float: left;
	padding: 0px 10px;
	background-color: #ffffff;
	overflow: hidden;
}
#sidebar a{
	display: block;
}
#nameimage{
	position: relative;
	width: 100%;
}
#nameimage h3{
	position: absolute;
	top: 10%;
	left: 15%;
	color: #000000;
	font-size: 150%;
}
.cols2 {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2;
	column-count: 2;
	-moz-column-gap:30px; /* Firefox */
	-webkit-column-gap:30px;
	column-gap: 30px;
	column-rule-width: 1px;
	column-rule-style: solid;
	column-rule-color: #000;
  
	-moz-column-rule-width: 1px;
	-moz-column-rule-style: solid;
	-moz-column-rule-color: #000;
	 
	-webkit-column-rule-width: 1px;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-color: #000;
}
#main{
	width: 70%;
	float: left;
	padding: 0px 10px;
	background-color: #ffffff;
	border-left: 1px solid #211100;
	overflow: hidden;
}
#adoptionDiv{
	width: 100%;
	padding: 0px 10px;
	background-color: #ffffff;
	overflow: hidden;
}
#footer{
	width: 100%;
	float: left;
	margin: auto;
	padding: 0px 10px;
	background-color: #ffffff;
}