body{
	margin: auto;
	background-color: #e0bb75;
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	color: #5b3c1f;
	text-align: justify;
}
h1{
	color: #aa1b25;
}
h2{
	color: #2e3f71;
}
h3{
	font-family: "Amatic SC";
	font-size: 150%;
	color: #2e3f71;
	margin: 0;
	margin-top: 0;
}
h4{
	font-family: "Amatic SC";
	font-size: 250%;
	color:#2e3f71;
	margin: 5 px;
}
#header{
	margin: auto;
	width: 80%;
	padding: 10px 20px 0px 20px;
	background-color: #ffffff;
}
#header img{
	width: 100%;
}
#nav{
	width: 80%;
	margin: auto;
	padding: 0px 20px;
	background-color: #ffffff;
}
#nav img{
	width: 100%;
}
#container{
	width: 80%;
	height:inherit;
	margin: auto;
	padding: 10px 20px;
	background-color: #ffffff;
	overflow:hidden;
}
#container img{
	max-height: 70%;
	max-width: 70%;
}
#sidebar{
	width: 20%;
	float: left;
	padding: 0px 10px;
	background-color: #ffffff;
	overflow: hidden;
}
#sidebar a{
	display: block;
}
#nameimage{
	position: relative;
	width: 100%;
	margin-left: -20%;
}
#nameimage h3{
	position: absolute;
	top: 10%;
	left: 15%;
	color: #000000;
	font-size: 150%;
}
.cols2 {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2;
	column-count: 2;
	-moz-column-gap:30px; /* Firefox */
	-webkit-column-gap:30px;
	column-gap: 30px;
	column-rule-width: 1px;
	column-rule-style: solid;
	column-rule-color: #000;
  
	-moz-column-rule-width: 1px;
	-moz-column-rule-style: solid;
	-moz-column-rule-color: #000;

	-webkit-column-rule-width: 1px;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-color: #000;
}
.cols2{
	max-height: 70%;
	max-width: 70%;
	margin-left: 20%;
}
.cols2 h4{
	font-family: "Amatic SC";
	font-size: 250%;
	color:#2e3f71;
	margin: -1% 0 -1% 0;
}
#main{
	width: 70%;
	float: left;
	padding: 0px 10px;
	background-color: #ffffff;
	border-left: 1px solid #211100;
	overflow: hidden;
}
#adoptionDiv{
	width: 100%;
	padding: 0px 10px;
	background-color: #ffffff;
	overflow: hidden;
}
#adoptionDiv img{
	max-height: 70%;
	max-width: 70%;
	margin-left: 20%;
	margin-bottom: 1%;
}
#footer{
	width: 100%;
	float: left;
	margin: auto;
	padding: 0px 10px;
	background-color: #ffffff;
}

nav *{
	padding: 0;
	width: 100%;
    margin: 0px auto; 

		-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
 
nav ul {
    list-style: none;
    overflow: hidden;
	padding: 0;
	width: 83%;
}

nav li a {
    background: #702500;
    border-right: 1px solid #fff;
    color: #fff;
    display: inline;
    float: left;
    font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 16.666666667%;
}

nav li a:hover {
    background: #e0bb75;
}

form .hidden {
	display: none;
}

/* MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
    nav li a {
        font: 400 10px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
     
    nav small {
        font: 100 10px/1 Helvetica, Verdana, Arial, sans-serif;
    }
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
    nav li a {
        width: 25%;
        border-bottom: 1px solid #fff;
        font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
     
    nav li:last-child a, nav li:nth-child(4) a {
        border-right: none;
    }
     
    nav li:nth-child(5) a, nav li:nth-child(6) a, nav li:nth-child(7) a, nav li:nth-child(8) a {
        border-bottom: none;
    }
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
    nav li a {
        width: 50%;
        font: 400 12px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
        padding-top: 12px;
        padding-bottom: 12px;
    }
     
    nav li:nth-child(even) a {
        border-right: none;
    }
     
    nav li:nth-child(5) a, nav li:nth-child(6) a {
        border-bottom: 1px solid #fff;
    }
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    nav li a {
        font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    }
}